<a href="https://colab.research.google.com/github/annefrancine/Deep-Learning-Models-/blob/master/AutoEncoders.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **MovieLens dataset**

https://grouplens.org/datasets/movielens/

# Importing Packages

In [0]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

# Importing Dataset

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
movies = pd.read_csv('/content/drive/My Drive/curso deep learning-udemy/Notebooks/7.BM/ml-1m/movies.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

In [4]:
movies.head()

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [0]:
users = pd.read_csv('/content/drive/My Drive/curso deep learning-udemy/Notebooks/7.BM/ml-1m/users.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

In [6]:
users.head()

   0  1   2   3      4
0  1  F   1  10  48067
1  2  M  56  16  70072
2  3  M  25  15  55117
3  4  M  45   7  02460
4  5  M  25  20  55455

In [0]:

ratings = pd.read_csv('/content/drive/My Drive/curso deep learning-udemy/Notebooks/7.BM/ml-1m/ratings.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

In [8]:
ratings.head()

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291

# Train, test dataset

In [0]:
training_set = pd.read_csv('/content/drive/My Drive/curso deep learning-udemy/Notebooks/7.BM/ml-100k/u1.base', delimiter = '\t')
training_set = np.array(training_set, dtype = 'int')
test_set = pd.read_csv('/content/drive/My Drive/curso deep learning-udemy/Notebooks/7.BM/ml-100k/u1.test', delimiter = '\t')
test_set = np.array(test_set, dtype = 'int')

In [10]:
training_set.shape, test_set.shape

((79999, 4), (19999, 4))

# Number of users and films

In [0]:
nb_users = int(max(max(training_set[:,0]), max(test_set[:,0])))
nb_movies = int(max(max(training_set[:,1]), max(test_set[:,1])))

# Converting data into a matrix with users in rows and movies in columns

In [0]:

def convert(data):
    new_data = [] 
    for id_users in range(1, nb_users + 1): 
        id_movies = data[:,1][data[:,0] == id_users] 
        id_ratings = data[:,2][data[:,0] == id_users]
        ratings = np.zeros(nb_movies)
        ratings[id_movies - 1] = id_ratings
        new_data.append(list(ratings))
    return new_data
training_set = convert(training_set)
test_set = convert(test_set)

# Creating Torch Tensors

In [0]:

training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

# Creating the neural network architecture

In [0]:
class SAE(nn.Module):
    def __init__(self, ):
        super(SAE, self).__init__()
        self.fc1 = nn.Linear(nb_movies, 20)
        self.fc2 = nn.Linear(20, 10)
        self.fc3 = nn.Linear(10, 20)
        self.fc4 = nn.Linear(20, nb_movies)
        self.activation = nn.Sigmoid()
    def forward(self, x):
        x = self.activation(self.fc1(x))
        x = self.activation(self.fc2(x))
        x = self.activation(self.fc3(x))
        x = self.fc4(x)
        return x
sae = SAE()
criterion = nn.MSELoss()
optimizer = optim.RMSprop(sae.parameters(), lr = 0.01, weight_decay = 0.5)

# Training neural network

In [15]:
#Treinando a RNA
nb_epoch = 200
for epoch in range(1, nb_epoch + 1):
    train_loss = 0
    s = 0. 
    for id_user in range(nb_users): 
        input = Variable(training_set[id_user]).unsqueeze(0)
        target = input.clone()
        if torch.sum(target.data > 0) > 0:
            output = sae(input)
            target.require_grad = False
            output[target == 0] = 0
            loss = criterion(output, target)
            mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
            loss.backward()
            train_loss += np.sqrt(loss.data*mean_corrector)
            s += 1.
            optimizer.step()
    print('epoch: '+str(epoch)+' loss: '+str(train_loss/s))

epoch: 1 loss: tensor(1.7714)
epoch: 2 loss: tensor(1.0966)
epoch: 3 loss: tensor(1.0534)
epoch: 4 loss: tensor(1.0384)
epoch: 5 loss: tensor(1.0309)
epoch: 6 loss: tensor(1.0265)
epoch: 7 loss: tensor(1.0238)
epoch: 8 loss: tensor(1.0216)
epoch: 9 loss: tensor(1.0206)
epoch: 10 loss: tensor(1.0197)
epoch: 11 loss: tensor(1.0189)
epoch: 12 loss: tensor(1.0186)
epoch: 13 loss: tensor(1.0179)
epoch: 14 loss: tensor(1.0174)
epoch: 15 loss: tensor(1.0171)
epoch: 16 loss: tensor(1.0170)
epoch: 17 loss: tensor(1.0167)
epoch: 18 loss: tensor(1.0164)
epoch: 19 loss: tensor(1.0163)
epoch: 20 loss: tensor(1.0160)
epoch: 21 loss: tensor(1.0160)
epoch: 22 loss: tensor(1.0159)
epoch: 23 loss: tensor(1.0157)
epoch: 24 loss: tensor(1.0157)
epoch: 25 loss: tensor(1.0155)
epoch: 26 loss: tensor(1.0155)
epoch: 27 loss: tensor(1.0151)
epoch: 28 loss: tensor(1.0150)
epoch: 29 loss: tensor(1.0129)
epoch: 30 loss: tensor(1.0115)
epoch: 31 loss: tensor(1.0102)
epoch: 32 loss: tensor(1.0082)
epoch: 33 loss: tensor(1.0071)
epoch: 34 loss: tensor(1.0042)
epoch: 35 loss: tensor(1.0031)
epoch: 36 loss: tensor(1.0002)
epoch: 37 loss: tensor(0.9972)
epoch: 38 loss: tensor(0.9975)
epoch: 39 loss: tensor(0.9958)
epoch: 40 loss: tensor(0.9929)
epoch: 41 loss: tensor(0.9924)
epoch: 42 loss: tensor(0.9904)
epoch: 43 loss: tensor(0.9873)
epoch: 44 loss: tensor(0.9862)
epoch: 45 loss: tensor(0.9860)
epoch: 46 loss: tensor(0.9808)
epoch: 47 loss: tensor(0.9808)
epoch: 48 loss: tensor(0.9760)
epoch: 49 loss: tensor(0.9762)
epoch: 50 loss: tensor(0.9700)
epoch: 51 loss: tensor(0.9719)
epoch: 52 loss: tensor(0.9707)
epoch: 53 loss: tensor(0.9694)
epoch: 54 loss: tensor(0.9669)
epoch: 55 loss: tensor(0.9665)
epoch: 56 loss: tensor(0.9639)
epoch: 57 loss: tensor(0.9628)
epoch: 58 loss: tensor(0.9604)
epoch: 59 loss: tensor(0.9614)
epoch: 60 loss: tensor(0.9604)
epoch: 61 loss: tensor(0.9591)
epoch: 62 loss: tensor(0.9579)
epoch: 63 loss: tensor(0.9582)
epoch: 64 loss: tensor(0.9556)
epoch: 65 loss: tensor(0.9555)
epoch: 66 loss: tensor(0.9525)
epoch: 67 loss: tensor(0.9529)
epoch: 68 loss: tensor(0.9508)
epoch: 69 loss: tensor(0.9508)
epoch: 70 loss: tensor(0.9494)
epoch: 71 loss: tensor(0.9489)
epoch: 72 loss: tensor(0.9479)
epoch: 73 loss: tensor(0.9471)
epoch: 74 loss: tensor(0.9458)
epoch: 75 loss: tensor(0.9459)
epoch: 76 loss: tensor(0.9445)
epoch: 77 loss: tensor(0.9445)
epoch: 78 loss: tensor(0.9434)
epoch: 79 loss: tensor(0.9431)
epoch: 80 loss: tensor(0.9421)
epoch: 81 loss: tensor(0.9421)
epoch: 82 loss: tensor(0.9409)
epoch: 83 loss: tensor(0.9410)
epoch: 84 loss: tensor(0.9402)
epoch: 85 loss: tensor(0.9400)
epoch: 86 loss: tensor(0.9395)
epoch: 87 loss: tensor(0.9394)
epoch: 88 loss: tensor(0.9376)
epoch: 89 loss: tensor(0.9383)
epoch: 90 loss: tensor(0.9369)
epoch: 91 loss: tensor(0.9370)
epoch: 92 loss: tensor(0.9360)
epoch: 93 loss: tensor(0.9359)
epoch: 94 loss: tensor(0.9351)
epoch: 95 loss: tensor(0.9355)
epoch: 96 loss: tensor(0.9340)
epoch: 97 loss: tensor(0.9343)
epoch: 98 loss: tensor(0.9330)
epoch: 99 loss: tensor(0.9332)
epoch: 100 loss: tensor(0.9323)
epoch: 101 loss: tensor(0.9326)
epoch: 102 loss: tensor(0.9315)
epoch: 103 loss: tensor(0.9320)
epoch: 104 loss: tensor(0.9308)
epoch: 105 loss: tensor(0.9315)
epoch: 106 loss: tensor(0.9300)
epoch: 107 loss: tensor(0.9304)
epoch: 108 loss: tensor(0.9291)
epoch: 109 loss: tensor(0.9299)
epoch: 110 loss: tensor(0.9286)
epoch: 111 loss: tensor(0.9292)
epoch: 112 loss: tensor(0.9280)
epoch: 113 loss: tensor(0.9284)
epoch: 114 loss: tensor(0.9273)
epoch: 115 loss: tensor(0.9277)
epoch: 116 loss: tensor(0.9268)
epoch: 117 loss: tensor(0.9272)
epoch: 118 loss: tensor(0.9262)
epoch: 119 loss: tensor(0.9264)
epoch: 120 loss: tensor(0.9254)
epoch: 121 loss: tensor(0.9258)
epoch: 122 loss: tensor(0.9251)
epoch: 123 loss: tensor(0.9256)
epoch: 124 loss: tensor(0.9245)
epoch: 125 loss: tensor(0.9248)
epoch: 126 loss: tensor(0.9239)
epoch: 127 loss: tensor(0.9240)
epoch: 128 loss: tensor(0.9233)
epoch: 129 loss: tensor(0.9237)
epoch: 130 loss: tensor(0.9229)
epoch: 131 loss: tensor(0.9230)
epoch: 132 loss: tensor(0.9222)
epoch: 133 loss: tensor(0.9225)
epoch: 134 loss: tensor(0.9217)
epoch: 135 loss: tensor(0.9220)
epoch: 136 loss: tensor(0.9213)
epoch: 137 loss: tensor(0.9214)
epoch: 138 loss: tensor(0.9207)
epoch: 139 loss: tensor(0.9210)
epoch: 140 loss: tensor(0.9203)
epoch: 141 loss: tensor(0.9204)
epoch: 142 loss: tensor(0.9197)
epoch: 143 loss: tensor(0.9200)
epoch: 144 loss: tensor(0.9195)
epoch: 145 loss: tensor(0.9196)
epoch: 146 loss: tensor(0.9189)
epoch: 147 loss: tensor(0.9190)
epoch: 148 loss: tensor(0.9185)
epoch: 149 loss: tensor(0.9188)
epoch: 150 loss: tensor(0.9179)
epoch: 151 loss: tensor(0.9183)
epoch: 152 loss: tensor(0.9175)
epoch: 153 loss: tensor(0.9178)
epoch: 154 loss: tensor(0.9171)
epoch: 155 loss: tensor(0.9174)
epoch: 156 loss: tensor(0.9168)
epoch: 157 loss: tensor(0.9172)
epoch: 158 loss: tensor(0.9165)
epoch: 159 loss: tensor(0.9167)
epoch: 160 loss: tensor(0.9160)
epoch: 161 loss: tensor(0.9163)
epoch: 162 loss: tensor(0.9158)
epoch: 163 loss: tensor(0.9159)
epoch: 164 loss: tensor(0.9153)
epoch: 165 loss: tensor(0.9157)
epoch: 166 loss: tensor(0.9151)
epoch: 167 loss: tensor(0.9154)
epoch: 168 loss: tensor(0.9149)
epoch: 169 loss: tensor(0.9150)
epoch: 170 loss: tensor(0.9147)
epoch: 171 loss: tensor(0.9148)
epoch: 172 loss: tensor(0.9145)
epoch: 173 loss: tensor(0.9145)
epoch: 174 loss: tensor(0.9141)
epoch: 175 loss: tensor(0.9142)
epoch: 176 loss: tensor(0.9137)
epoch: 177 loss: tensor(0.9139)
epoch: 178 loss: tensor(0.9135)
epoch: 179 loss: tensor(0.9138)
epoch: 180 loss: tensor(0.9134)
epoch: 181 loss: tensor(0.9134)
epoch: 182 loss: tensor(0.9130)
epoch: 183 loss: tensor(0.9130)
epoch: 184 loss: tensor(0.9126)
epoch: 185 loss: tensor(0.9125)
epoch: 186 loss: tensor(0.9122)
epoch: 187 loss: tensor(0.9125)
epoch: 188 loss: tensor(0.9123)
epoch: 189 loss: tensor(0.9123)
epoch: 190 loss: tensor(0.9123)
epoch: 191 loss: tensor(0.9122)
epoch: 192 loss: tensor(0.9118)
epoch: 193 loss: tensor(0.9119)
epoch: 194 loss: tensor(0.9117)
epoch: 195 loss: tensor(0.9118)
epoch: 196 loss: tensor(0.9114)
epoch: 197 loss: tensor(0.9113)
epoch: 198 loss: tensor(0.9112)
epoch: 199 loss: tensor(0.9113)
epoch: 200 loss: tensor(0.9109)

# Testing neural network

In [16]:

test_loss = 0
s = 0.
for id_user in range(nb_users):
    input = Variable(training_set[id_user]).unsqueeze(0)
    target = Variable(test_set[id_user]).unsqueeze(0)
    if torch.sum(target.data > 0) > 0:
        output = sae(input) 
        target.require_grad = False 
        output[target == 0] = 0 
        loss = criterion(output, target) 
        mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
        test_loss += np.sqrt(loss.data*mean_corrector)
        s += 1.
print('Loss de test:: '+str(test_loss/s))

Loss de test:: tensor(0.9457)